@import '../styles/abstracts/variables';
@import '../styles/abstracts/mixins';

.app-container {
  min-height: 100vh;
  background-color: $gray-50;
  
  @include respond-to(md) {
    background: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  }
}